<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-secondary-subtle">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">2LA Online</a>
            <div class="d-flex">
                <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#modifyProfil">Mon profil</button>
                <button class="btn btn-outline-danger">Se déconnecter</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-5 pt-5">
        <div class="main-section">
            <h3 class="title is-3">Transactions(Compte Epargne)</h3>
            <div class="row mb-4">
                <div class="col-md-2">
                    Filtrer
                </div> 
                <div>
                    <select class="form-select form-select-sm" aria-label="Small select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Compte</th>
                        <th>Montant</th>
                        <th>Solde</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fhjfhjffhhh</td>
                        <td>Compte Epargne</td>
                        <td>1200 €</td>
                        <td>5000 €</td>
                        <td>12/12/2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>